{% include "base.html" %}

{% block content %}
<h1>Welcome To The Homepage</h1>
        <hr>
        <h3> <p>Hello Sinha here.
            <h2>Let me Fall If I must Fall <br>
                The One i become will catch me. <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Uknown
            </h2>
        </p> </h3>
        <br>
        <br>
        

{% endblock content %}